---
layout: about
title: Mr Liu 的神奇成长史
titlename: 关于
permalink: date
---
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ site.baseurl }}/public/css/about.css" />
<style type="text/css">
h2.top_title{border-bottom:none;background:none;text-align:center;line-height:32px; font-size:20px}
h2.top_title span{font-size:12px; color:#666;font-weight:500}
h2.title { font-size:15px; }
</style>
</head>

<body>

<h2 class="top_title">Mr Liu的神奇成长史</h2>
<div id="about"  class="cd-container">
                <h5 class="sub">The brief introduction of myself</h5>
                <p class="para-w3-agile">从小我就性格怪异，特立独行，后来长大了，性格越来越孤僻，我猜测是因为长残了的缘故，就这一点，找个时间，我得好好跟我爸和我妈商量商量。</p>
                <p class="para-w3-agile">言归正传，伪程序员，喜欢旅行、跑步、新事物，对一切新奇的东西来者不拒，换句话说：我是活在火星的地球人！ </p>
</div>


<section id="cd-timeline" class="cd-container">
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-location">
			<img src="{{ site.baseurl }}/public/img/cd-icon-location.svg" alt="Location">
		</div>

		<div class="cd-timeline-content">
			<h2 class="title">上海交通大学，一个神奇的地方</h2>
			<p>来交大已经快一年了，虽然被各种碾压，但是从内心来说，我很感谢它.因为在这，我看到了最真实的自己，听到了内心深处最自然的声音，我希望自己永远阳光下去.</p>
			<span class="cd-date">2016-09-01</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="{{ site.baseurl }}/public/img/cd-icon-movie.svg" alt="Movie">
		</div>

		<div class="cd-timeline-content">
			<h2 class="title">湖南大学，我一辈子都不会忘记的地方</h2>
			<p>记得９月１０号那一天，我一个人背着行李，坐着ｋ３１５的火车，来到了湖南大学．</p>
			<span class="cd-date">2012-09-01</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-location">
			<img src="{{ site.baseurl }}/public/img/cd-icon-location.svg" alt="Location">
		</div>

		<div class="cd-timeline-content">
			<h2 class="title">其实在这里真的只是做试卷而已</h2>
			<p>因为对于我们这样的家庭来说，读书是唯一的出路．也只有这样，才有更多的可能，才能了解更多改变生活的选择，才能跳出父母那一代的圈子．所幸我没有荒废时光，每天都在学习，虽然努力程度不够，总是喜欢走捷径，但最后还是上了大学（当然我是被大学上了的）．现在回味，虽觉得当时自己太傻，但还是很庆幸，人这一生又有多少时间可以如此专注地读书，即便这很功利．</p>
			<span class="cd-date">2009-09-01</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="{{ site.baseurl }}/public/img/cd-icon-movie.svg" alt="Movie">
		</div>

		<div class="cd-timeline-content">
			<h2 class="title">因为户籍，我回了枞阳</h2>
			<p>不得已，我离开了我童年的地方，回到老家读书．因为户籍原因，我不能在当地参加高考，只能返回户籍所在地．这一年我过的很开心，也开始了自我思考的生活．</p>
		
			<span class="cd-date">2008-09-01</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-location">
			<img src="{{ site.baseurl }}/public/img/cd-icon-location.svg" alt="Location">
		</div>

		<div class="cd-timeline-content">
			<h2 class="title">这里有我的童年，也有我的回忆</h2>
			<p>我的童年是在一个叫做＂高田＂的地方度过．爸妈年轻时就来到这里打工，一待就是三十年．由于拆迁，＂高田＂已经不复存在，可爸妈并没有因此过上好日子，因为他们一直是外地人，只是换一个地方继续居住，日复一日地工作，而这一切只是为了孩子能够完成学业．对于爸妈来说，这是三十年，可对于我来说这是一生的愧疚，无法偿还.</p>
			<span class="cd-date">2000-09-01</span>
		</div>
	</div>
<section>

<div id="footer">
<center>
    <p>2017 Powered by Beili</p>
</center>
</div>
</body>
</html>
