<div class="row">

    <div class="col-md-8">

        <!-- Blog list -->
        <ul id="posts-list">
            {% for post in site.posts %}
            <li class="posts-list-item">
                <div class="posts-content">
                    <span class="posts-list-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
                    <a class="posts-list-name bubble-float-left" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    <span class='circle'></span>
                </div>
            </li>
            {% endfor %}
        </ul>

        <!-- Pagination -->
        {% include pagination.html %}

        <!-- Comments -->
        {% include disqus-comments.html %}

    </div>

    <div class="col-md-4">
       <h3 class="sidebar-title">Blog Categories</h3>
	<div id="blog-categories">
    	<ul class="list-group">
        	{% for category in site.categories %}
        	<li class="list-group-item" onclick="openhtml()" >
           		{{ category | first }} 
            		<span class="badge">{{ category[1].size }}</span>
        	</li>
        	{% endfor %}
    	</ul>
	</div>
    	<script type="text/javascript">
   	$(document).ready(function(){
        $("#blog-categories li").css('text-transform','capitalize')
    	});
    	function openhtml(){
    	//doucument.getElementById("post-list").getElementsByTagName("li").innerHTML="";
    	
        }
	</script>
    </div>

</div>
<script>
    $(document).ready(function(){

        // Enable bootstrap tooltip
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });

    });
</script>

